sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t mryesiller/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true mryesiller/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "dockerreact"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-1-125109445480"
  bucket_path: "dockerreact"
  on:
    branch: main
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"
